[Unit]
Description=Gunicorn instance daemon to Checkers API
After=network.target

[Service]
User=<user>
Group=<user>
WorkingDirectory=/home/<user>/checkers/api
Environment="PATH=/home/<user>/checkers/env/bin"
ExecStart=/home/<user>/checkers/env/bin/gunicorn wsgi -w 4 -b "0.0.0.0:5000"

[Install]
WanterBy=multi-user.target
